{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>"Solar Energy"</title>

        <link rel="stylesheet" href={% static "solar_app/css/style.css" %}/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="clouds">
            <!-- <img src="../../../media/cloud.png">
            <img src="../../../media/cloud.png">
            <img src="../../../media/cloud.png">
            <img src="../../../media/cloud.png">
            <img src="../../../media/cloud.png"> -->
        </div>

        <main>
            <a id="home"></a>
            <section class="nav">
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#gimbal">Gimbal</a></li>
                        <li><a href="#calc">Investment Calculator</a></li>
                    </ul>
                </nav>
            </section>

            <section class="title">
                <div class="stalk">
                    <img src="../../../media/beanstalk.png">
                </div>
                <h1>Project Sunflower</h1>
            </section>

            <section class="pitch">
                <p>Did you know that fixed solar panels waste up to 30% of potential energy? Project Sunflower is a smart energy optimization system that increases efficiency using a real-time tracking system. Our model uses light sensors to optimally position the panel to receive the most light possible, which aims to maximize energy generation.</p>
            </section>

            <section class="benefits">
                <!-- <div class="grass">
                    <img src="../../../media/grass.png">
                    <img src="../../../media/grass.png">
                    <img src="../../../media/grass.png">
                </div> -->

                <div class="text">
                    <h2>Benefits of Solar Panels</h2>
                    <ul>
                        <li>Cost: The average U.S. household consumes about 877 kWh per month, and a 6 kW solar system can generate around 720–900 kWh monthly, potentially offsetting most of the cost. You can also use net metering to sell excess energy back to the grid, further lowering costs.</li>
                        <li>Environmental Impact: A typical residential solar system (6–8 kW) reduces carbon emissions by about 3–4 tons per year, equivalent to planting over 100 trees annually. Solar power produces 20 times less CO₂ per kWh compared to coal energy.</li>
                        <li>Reliability: Solar reduces reliance on fossil fuels and foreign energy sources. In regions with frequent blackouts, solar panels with battery storage (e.g., Tesla Powerwall) provide backup power, protecting against grid failures.</li>
                    </ul>
                </div>

                <div class="img">
                    <img src="../../../media/solar-panel.png">
                    <img src="../../../media/solar-panel.png">
                </div>
            </section>

            <section class="green">
                <a id="gimbal"></a>
                <section class="gimbal">
                    <h2>Gimbals</h2>
                    <div class="infos">
                        <div class="info">
                            Gimbals allow solar panels to track the sun's movement throughout the day, ensuring that the panels are always oriented for maximum sunlight exposure. This increases energy production by up to 25-35% compared to fixed-position panels, especially in regions with variable sunlight.

                        </div>
                        <div class="info">
                            Gimbals enable the panels to adjust to weather conditions, such as high winds or heavy snow, by tilting the panels to reduce pressure or accumulation. This helps extend the lifespan of the solar panels, as they experience less stress from harsh environmental conditions.

                        </div>
                        <div class="info">
                            The ability of solar gimbals to adjust the panel's orientation allows them to perform well in varying geographic locations and under different environmental conditions, ensuring optimal energy output no matter where the system is placed.

                        </div>
                    </div>
                </section>

                <a id="calc"></a>
                <section class="calculator">

                    <div class="form">
                        <h2>Solar Power Calculator</h2>
                        <form action="calc" method="GET">
                            <div class="input">
                                <label for="sunlight">Hours of Daily Sunlight (0-12)</label>
                                <input id="sunlight" name="sunlight" type="number" min="0" max="12">
                            </div>

                            <div class="input">
                                <label for="wattage">How much Wattage would you like?</label>
                                <input id="wattage" name="wattage" type="number">
                            </div>

                            <button id="submit" type="submit">Calculate</button>
                        </form>
                    </div>

                    <div class="results">
                        <div class="result">
                            {{ trees }} trees of CO2 offset per year
                        </div>
                        <div class="result">
                            {{ co2 }} lbs of CO2 offset per year
                        </div>
                        <div class="result">
                            ${{ cost }} of initial investmnet
                        </div>
                        <div class="result">
                            {{ yrs }} years to pay itself off
                        </div>
                        <div class="result">
                            {{ estGen }}  kilowatts per month generated
                        </div>
                        <div class="result">
                            ${{ sav }} of lifetime savings
                        </div>
                    </div>

                </section>
            </section>

        </main>
    </body>
</html>